/* BODY */

body {
  padding: 0 2em;
  background-image: -webkit-linear-gradient(
    bottom,
    #009ffd 0%,
    #2a2a72
  ) !important;
  font-family: "Montserrat", "sans-serif" !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* BODY ENDS*/
.ui-datepicker-year {
  display: none;
}

.fa-arrow-down {
  transform: rotate(0deg);
  transition: transform 250ms linear;
}

.fa-arrow-down.open {
  transform: rotate(-180deg);
  transition: transform 250ms linear;
}

/* NAVBAR ENDS*/

/* SEARCH TABLE */
input,
textarea {
  width: 100%;
}

/* SEARCH TABLE ENDS */

/* Table starts */

img {
  height: 160px;
  width: 160px;
}
th {
  position: sticky !important;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  background-color: black;
  color: white;
}

table {
  font-family: "Montserrat", "sans-serif";
}
td {
  font-family: "Montserrat", "sans-serif";
  border: 0 !important;
}
tr {
  color: white;
}
@media only screen and (max-width: 782px) {
  .h-picture {
    display: none;
  }
  .td-profileImage {
    display: none;
  }
}

.h-birthday {
  width: 15%;
}

tr:nth-child(even) {
  background-color: #2c0b0b !important;
}

table td {
  vertical-align: middle !important;
}
span {
  color: #666;
  font-family: "Montserrat", "sans-serif";
}

.form-group span {
  color: white;
  font-family: "Montserrat", "sans-serif";
}

.form-group label {
  text-align: center !important;
}

/*table css ends*/

/* pagination START*/

.page-item {
  margin-left: 1%;
}

.pr {
  padding: 0px !important;
}

/* PAGINATION END*/

/* Labels*/

label {
  color: white !important;
  font-family: "Montserrat", "sans-serif";
}

/* FOOTER START*/

.site-footer {
  background-color: #242729;
  background-image: none;
  background-position: top left;
  background-repeat: no-repeat;
  border-top: 0;
  background-size: auto;
  color: #6a737c;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 10px;
  position: relative;
}

/* FOOTER ENDS*/

.title {
  text-align: center;
  font-size: xxx-large;
  color: white;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

label span {
  color: white;
}
