/* BODY */

body {
  padding: 0 2em;
  background-image: -webkit-linear-gradient(
    bottom,
    #c471f5,
    #fa71cd
  ) !important;
  font-family: "Montserrat", "sans-serif";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* BODY ENDS*/

/* NAVBAR STARTS*/

.navbar-color {
  color: black;
  font-family: "Montserrat", "sans-serif";
}
.navbar-nav > li > .dropdown-menu {
  background-color: #df691a;
}

.fa-arrow-down {
  transform: rotate(0deg);
  transition: transform 250ms linear;
}

.fa-arrow-down.open {
  transform: rotate(-180deg);
  transition: transform 250ms linear;
}

/* NAVBAR ENDS*/

/* SEARCH TABLE */
input,
textarea {
  width: 100%;
}

/* SEARCH TABLE ENDS */

/* Table starts */

.birthday-table {
  color: #fff;
  border-radius: 0.4em;
}
.pre-scrollable {
  max-height: 70vh;
}

th {
  background: var(--background);
  position: sticky !important;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  background-color: black;
  color: white;
}

table {
  border-collapse: collapse;
  font-family: "Montserrat", "sans-serif";
}
td {
  font-family: "Montserrat", "sans-serif";
  border: 0 !important;
  background-color: white;
}

span {
  color: #666;
  font-family: "Montserrat", "sans-serif";
}

.form-group span {
  color: black;
  font-family: "Montserrat", "sans-serif";
}

/*table css ends*/

/* pagination START*/

.page-item {
  margin-left: 1%;
}

.paging-records {
  display: flex;
}

.records-per-page {
  margin-left: 5% !important;
}

.pr {
  padding: 0px !important;
}

/* PAGINATION END*/

/* Labels*/

label {
  color: black;
  font-family: "Montserrat", "sans-serif";
}

/* FOOTER START*/

.site-footer {
  background-color: #242729;
  background-image: none;
  background-position: top left;
  background-repeat: no-repeat;
  border-top: 0;
  background-size: auto;
  color: #6a737c;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 10px;
  position: relative;
}

/* FOOTER ENDS*/
