/* BODY */

body {
  padding: 0 2em;
  background-image: -webkit-linear-gradient(
    bottom,
    #009ffd 0%,
    #316eb8
  ) !important;
  font-family: "Montserrat", "sans-serif" !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* BODY ENDS*/
.ui-datepicker-year {
  display: none;
}

.fa-arrow-down {
  transform: rotate(0deg);
  transition: transform 250ms linear;
}

.fa-arrow-down.open {
  transform: rotate(-180deg);
  transition: transform 250ms linear;
}

/* NAVBAR ENDS*/

/* SEARCH TABLE */
input,
textarea {
  width: 100%;
}

/* SEARCH TABLE ENDS */

/* Table starts */

img {
  height: 120px;
  width: 120px;
}
th {
  position: sticky !important;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  background-color: black;
  color: white;
}
th td {
  color: white !important;
}

h1 {
  text-align: center;
  font-size: 280% !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  text-shadow: #222 0 2px 0;
  color: #eee;
}

.birthday-filter {
  margin-top: 1%;
  margin-bottom: 1%;
}

td {
  color: black;
}
table {
  font-family: "Montserrat", "sans-serif";
}
td {
  font-family: "Montserrat", "sans-serif";
  border: 0 !important;
}
tr {
  background-color: white;
}
@media only screen and (max-width: 782px) {
  img {
    height: 60px;
    width: 60px;
  }
}

@media only screen and (max-width: 325px) {
  .td-profileImage {
    display: none;
  }
  .h-picture {
    display: none;
  }
}

tr:nth-child(even) {
  background-color: #d3d3d3 !important;
}

table td {
  vertical-align: middle !important;
}
span {
  color: #666;
  font-family: "Montserrat", "sans-serif";
}

.form-group span {
  color: white;
  font-family: "Montserrat", "sans-serif";
}

.form-group label {
  text-align: center !important;
}
.filter-table {
  margin-bottom: 1%;
}

hr {
  background-color: white;
}

.divider {
  width: 1% !important;
  height: auto;
  display: inline-block;
}
/*table css ends*/

/* pagination START*/

.active {
  color: white;
}
thead {
  z-index: 1;
  top: 0;
  position: sticky;
}
/* PAGINATION END*/

/* Labels*/

label {
  color: white !important;
  font-family: "Montserrat", "sans-serif";
}

/* FOOTER START*/

.site-footer {
  background-color: #242729;
  background-image: none;
  background-position: top left;
  background-repeat: no-repeat;
  border-top: 0;
  background-size: auto;
  color: #6a737c;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 10px;
  position: relative;
}

/* FOOTER ENDS*/
.tagline {
  color: white;
}

.records-label {
  margin-left: 1% !important;
}

.form-inline {
  align-items: center;
}

.records-label {
  margin: 0 !important;
  flex-basis: 50% !important;
}

h6 {
  text-align: center;
}
.title {
  text-align: center;
  font-size: xxx-large;
  color: white;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

label span {
  color: white;
}
